DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_GUILD_ID=
WARRUNNER_HOME_FORUM_CHANNEL_ID=
WARRUNNER_HOME_CHANNEL_IDS=
WARRUNNER_INTAKE_CHANNEL_IDS=
WARRUNNER_ALLOWED_ROLE_IDS=
DISCORDBOT_API_KEY=
CENTAUR_API_URL=http://localhost:8000
PORT=3002
